#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e4950ee5;  
}

body {
  margin: 0;
  display: flex;
  background-color: rgba(56, 49, 49, 0.963);
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 0.8;
  text-shadow: -3px 2px 2px rgba(0,0,0,0.72);
}

h2 {
  text-shadow: -2px 2px 2px rgba(0,0,0,0.72);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #257bc1c8;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #cffd00;
}
button:focus,
button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 350px;  
}

.btn-enviar {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #25c154c8;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-enviar:hover {
  border-color: #cffd00;
}
.btn-enviar:focus,
.btn-enviar:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

.card-post {  
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px 15px;
  background-color: rgba(49, 41, 96, 0.87);
  margin-bottom: 10px;
  transition: border-color 0.25s;
}
.card-post:hover {
  border-color: rgba(52, 180, 219, 0.87);
}
.card-post:focus,
.card-post:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}